.title-card {
    padding-bottom: 20px;
}

.space-between {
    justify-content: space-between;
}

.ingredient-box {
    padding: 20px;
}

.ingredient {
    padding: 10px;
}

.nutrition {
    justify-content: center;
}

.nutrition-label {
    font-size: 10px;
    color: gray;
}

.nutrition-value {
    font-size: 20px;
}

.rating {
    max-width: 65px;
}