.img-resize {
  max-width: 300px;
  max-height: 300px;
}

.card {
  display: inline-grid;
  border: 2px solid black;
  border-radius: 12px;
  padding: 23px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.titlestyle {
  text-align: center;
  font-family: fantasy;
  color: pink;
  font-size: 10pt;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color: #93c648;
  }

  25% {
    color: #8d44b6;
  }

  50% {
    color: #f13a70;
  }

  75% {
    color: #119cdd;
  }

  100% {
    color: #fa9501;
  }
}

.searchbar {
  text-align: center;
  color: green;
  size: 50px;
}

.searchbarsize {
  size: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.user {
  margin-right: 50px;
  color: red;
  font-size: 25px;
  padding: 5px;
}

h2{
  color: green;
  text-align: center;
  
}

.card1{
  display: grid;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 38%;
  border-radius: 40px;
  border: 4px solid pink;
  
}

body{
  background-image: url("../static/test.gif");
}