<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/details.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

        <div class="col-lg-auto">

            <a class="navbar-brand" href="{{url_for('index')}}">MyRecipeList</a>
        </div>
        <div>

            <form method="POST" class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for Recipes" aria-label="Search"
                    name="keyword">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-auto">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('profile')}}">Saved Recipes</a>
                        <a class="dropdown-item" href="{{url_for('comments')}}">Edit Comments</a>
                        <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">

            <div class="space-between title-card border-bottom clearfix d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <a><img src="{{ recipeDetails.image }}" class="rounded float-left" /></a>
                </div>
                <div class="text-center p-2 bd-highlight">
                    <div>
                        <h1 class="display-4">{{recipeDetails.label}}</h1>
                    </div>

                    <div>
                        See full recipe on: <a href="{{ recipeDetails.url }}" target="_blank">{{ recipeDetails.source
                            }}</a>
                    </div>

                    <form action="savefromdetails" method="POST">
                        <div id="id">
                            <input type="text" name="recipeLabel" value="{{recipeDetails.label}}" readonly />
                            <input type="text" name="recipeImage" value="{{recipeDetails.image}}" readonly />
                            <input type="text" name="recipeURL" value="{{recipeDetails.url}}" readonly />
                            <input type="text" name="recipeID" value="{{original_id}}" readonly />
                        </div>
                        <input type="submit" class="btn btn-outline-success" value="Save">
                    </form>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="border-bottom">
                            <h4>{{len_ing}} Ingredients</h4>
                        </div>
                        <div class="ingredient-box">
                            {% for i in range(len_ing) %}
                            <div class="ingredient">{{recipeDetails.ingredientLines[i]}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col">
                        <div class="border-bottom">
                            <h4>Nutrition</h4>
                        </div>

                        <div class="container border-bottom">
                            <div class="row ingredient-box">
                                <div class="col container">
                                    <span class="row nutrition nutrition-value">
                                        {{calories}}
                                    </span>
                                    <span class="row nutrition nutrition-label">
                                        CALORIES/SERVING
                                    </span>
                                </div>
                                <div class="col container">
                                    <span class="row nutrition nutrition-value">
                                        {{dailyValue}}%
                                    </span>
                                    <span class="row nutrition nutrition-label">
                                        DAILY VALUE
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="title-card border-bottom">
                            <h4 class="ingredient">{{len_comments}} Comments</h4>
                            <div>
                                <form method='POST' action="rating">
                                    <div class="container">
                                        <div class="row">
                                            <span class="col-xs-auto">
                                                <span class="input-group mb-3">
                                                    <input type="number" name="rate" class="form-control rating"
                                                        aria-describedby="basic-addon2" min="1" max="5">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">/5</span>
                                                    </div>
                                                </span>
                                            </span>
                                            <div class="col">
                                                <input type="text" name="comment" class="form-control"
                                                    placeholder="Write a comment..." />
                                            </div>
                                            <div class="col-xs-auto ">
                                                <input type="submit" class="btn btn-primary" value="Comment" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="id">
                                        <input type="text" name="label" value="{{recipeDetails.label}}" readonly />
                                        <input type="text" name="image" value="{{recipeDetails.image}}" readonly />
                                        <input type="text" name="url" value="{{recipeDetails.url}}" readonly />
                                        <input type="text" name="id" value="{{original_id}}" readonly />
                                    </div>
                                </form>
                            </div>
                            {% for i in range(len_comments) %}

                            {% if comments[i].comment is not none or comments[i].rating is not none%}
                            <div class="ingredient">
                                <div>
                                    <span>User {{comments[i].userid}}:</span>
                                    {%if comments[i].rating is not none%}
                                    <span>rated {{comments[i].rating}}/5</span>
                                    {%endif%}
                                </div>
                                <div>
                                    {%if comments[i].comment is not none%}
                                    "{{comments[i].comment}}"
                                    {%endif%}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="ingredient-box">
                            <form action="{{ url_for('recommendations') }}" method="POST" onsubmit="submitForm();">
                                <label for="categories">Browse Similar Recipes based on:</label>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <select id="categories" class="form-control">
                                                <option value="{{mealReco}}">Meal</option>
                                                <option value="{{cuisineReco}}">Cuisine</option>
                                                <option value="{{ingReco}}">Ingredient</option>
                                                <option value="{{ingcatReco}}">Ingredient Category</option>
                                                <option value="{{healthReco}}">Health</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-auto">
                                            <input type="submit" class="btn btn-primary" value="Search">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="keyword" id="keyword" value="">
                                <input type="hidden" name="category" id="category" value="">
                                <input type="hidden" name="original_label" value="{{recipeDetails.label}}">
                                <input type="hidden" name="original_id" value="{{original_id}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>

    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.display = 'none';
        }

        function submitForm() {
            let categories = document.getElementById("categories").value;
            switch (categories) {
                case "{{mealReco|safe}}":
                    document.getElementById("keyword").value = "{{ mealReco|safe }}";
                    document.getElementById("category").value = "Meal";
                    break;
                case "{{cuisineReco|safe}}":
                    document.getElementById("keyword").value = "{{ cuisineReco|safe }}";
                    document.getElementById("category").value = "Cuisine";
                    break;
                case "{{ingReco|safe}}":
                    document.getElementById("keyword").value = "{{ ingReco|safe }}";
                    document.getElementById("category").value = "Ingredient";
                    break;
                case "{{ingcatReco|safe}}":
                    document.getElementById("keyword").value = "{{ ingcatReco|safe }}";
                    document.getElementById("category").value = "Ingredient";
                    break;
                case "{{healthReco|safe}}":
                    document.getElementById("keyword").value = "{{ healthReco|safe }}";
                    document.getElementById("category").value = "Health";
                    break;
            }
            return true;
        }

    </script>
</body>

</html>