<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/homestyles.css">
</head>

<body>
    <ul>
        <li><a href="{{ url_for('index') }}">Main Page</a></li>
        <li><a href="{{ url_for('profile') }}">Saved Recipes</a></li>
        <li><a href="{{ url_for('comments') }}">Comments</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>

    <h2>Saved Dishes</h2>
    {% for i in range(len_recipes) %}
    {% if recipes[i].comment is none and recipes[i].rating is none %}
    <div class="card card1" style="width: 18rem;">
        <div>
            <form action="{{ url_for('details') }}" method="POST">
                <input type="submit" value="{{ recipes[i].label }}"></input>
                <div id="id">
                    <input name="id" value="{{ recipes[i].recipeid }}" readonly />
                </div>
            </form>
        </div>

        <div>
            Source: <a href="{{ recipes[i].url }}" target="_blank">{{recipes[i].url}}</a>
        </div>

        <div>
            <a><img src="{{ recipes[i].image }}" /></a>
        </div>
        <div>
            <form method='POST' action="deletesaved">
                <div id="id">
                    <input type="text" name="reviewid" value="{{ recipes[i].recipeid }}" readonly /><br>
                </div>
                <input type=submit value="Delete Recipe" />
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor%}

    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.display = 'none';
        }
    </script>
</body>

</html>