<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/homestyles.css">

</head>

<body>
    
    <ul>
        <li class="user">Hello {{username}}</li>
        <li><a href="{{ url_for('profile') }}">Saved Recipes</a></li>
        <li><a href="{{ url_for('comments') }}">Comments</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>
    <div class="titlestyle">
        <h1>Looking for something new? Try these {{q}} dishes!</h1>
    </div>
    <div class="searchbar">
        <form method="POST" action="/search">
            <input type="text" name="keyword" placeholder="Search for Recipes" class="searchbarsize">
            <input type="submit" value="Search">
        </form>
    </div>

    {% for i in range(len_recipes) %}
    <div class="card" style="width: 18rem;">
        <img src="{{ recipes[i].image }}" class="card-img-top img-resize" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{recipes[i].label}}</h5>
            <p class="card-text">Source: <a href="{{ recipes[i].url }}" target="_blank">{{recipes[i].source}}</a>
            </p>
            <div>
                <form style="float: left;" id="form__submit" action="{{ url_for('details') }}" method="POST">
                    <input type="submit" value="View Details" class="btn btn-primary" />
                    <div id="id">
                        <input name="id" value="{{ recipes[i].id }}" readonly />
                    </div>
                </form>
                <form method='POST' action="favorite">
                    <div id="id">
                        <input type="text" name="recipeLabel" value="{{recipes[i].label}}" readonly /><br>
                        <input type="text" name="recipeImage" value="{{recipes[i].image}}" readonly /><br>
                        <input type="text" name="recipeURL" value="{{recipes[i].url}}" readonly /><br>
                        <input type="text" name="recipeID" value="{{recipes[i].id}}" readonly />
                    </div>
                    <input type="submit" class="btn btn-success" value="Save" />
                </form>
            </div>
        </div>
    </div>
    {% endfor %}


    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.display = 'none';
        }

        function submitForm() {
            let form = document.getElementById("form__submit");
            form.submit();
        }


    </script>

</body>

</html>