<html>

    <head>
        <link rel="stylesheet" type="text/css" href="./static/homestyles.css">
    </head>

<body>
    <ul>
        <li><a href="{{ url_for('index') }}">Main Page</a></li>
        <li><a href="{{ url_for('profile') }}">Saved Recipes</a></li>
        <li><a href="{{ url_for('comments') }}">Comments</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>
    <div class="card card1" style="width: 18rem;">
        {% for i in range(length) %}
        {% if review[i].rating is not none or review[i].comment is not none %}
        <div>
            Your review of {{ review[i].label }}:
        </div>
        <div>
            <img src="{{ review[i].image }}" />
        </div>
        {%if review[i].rating is not none%}
        <div>
            You rated: {{ review[i].rating }}/5
        </div>
        {%endif%}
        {%if review[i].comment is not none%}
        <div>
            You commented: "{{ review[i].comment }}"
        </div>
        {%endif%}
        <br />

        <form method='POST' action="editcomment">
            <div id="id">
                <input type="text" name="reviewid" value="{{review[i].id}}" readonly /><br>
            </div>
            <div>Edit your comment:</div>
            Rating: <input type="number" name="rateinput" min="1" max="5" />
            <br>
            Comment: <input type="text" name="comminput" />
            <input type=submit value="Save Comment" />
        </form>
        <form method='POST' action="deletecomment">
            <div id="id">
                <input type="text" name="reviewid" value="{{review[i].id}}" readonly /><br>
            </div>
            <input type=submit value="Delete Comment" />
        </form>
        {% endif %}
        {% endfor %}
    </div>
    <script>
        const div = document.querySelectorAll("#id");

        for (let i = 0; i < div.length; i++) {
            div[i].style.display = 'none';
        }

        function submitForm() {
            let form = document.getElementById("form__submit");
            form.submit();
        }
    </script>
</body>